/* Button-card component define */
.button {
  background: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  cursor: pointer;
  line-height: var(--sm-line-height);
  font-size: var(--text-font-size-md);

  /* Start define size button */
  &.medium-btn {
    padding: 10px 20px;
  }

  &.large-btn {
    padding: 11px 34px;
  }
  /* End define size button */

  /* Start define color button */
  &.primary-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &:hover {
      background-color: transparent;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }
  }

  &.secondary-btn {
    color: var(--secondary-color);

    &:hover {
      background-color: transparent;
      border: 2px solid var(--secondary-color);
    }
  }

  &.ternary-btn {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    &:hover {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }
  /* End define color button */
}
/* End button-card define */

@media (max-width: 767px) {
  .mobile-button {
    width: 100%;;
  }
}
