/* Start content-cards component define */
.content-cards {
  padding: 0 10px;
}

.content-cards .content-title {
  margin-bottom: 35px;
}

.content-cards .content-container {
  margin-bottom: 85px;
}
/* End content-cards component define */

@media (max-width: 767px) {
  .content-cards .content-container {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
  }

  .content-cards .content-title {
    margin-bottom: 15px;
  }
}
