/* Start text-description component define */
.text-description {
  font-size: var(--text-font-size-md);

  &.primary-text {
    color: var(--text-color-default);
  }

  &.secondary-text {
    color: var(--text-color-description);
  }

  &.ternary-text {
    color: var(--text-color-description-light);
  }
}
/* End text-description component define */

/* Start text-title component define */
.text-title {
  font-size: var(--title-font-size-sm);
  line-height: var(--lg-line-height);

  &.primary-title {
    color: var(--secondary-color);
  }
}
/* End title-description component define */
