/* Start Part 3 content */
@property --bg-activities {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.activities-section {
  margin-top: -5px;
}

.content-activities {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 310px;
  max-width: 940px;
}

.activity-sports {
  background-image: var(--bg-activities), url(../../images/activity1.webp);
}

.activity-wellness {
  background-image: var(--bg-activities), url(../../images/activity2.webp);
}

.activity-extreme {
  background-image: var(--bg-activities), url(../../images/activity3.webp);
}

.activity-games {
  background-image: var(--bg-activities), url(../../images/activity4.webp);
}

.activity-culture {
  background-image: var(--bg-activities), url(../../images/activity5.webp);
}

.activity-enjoyment {
  background-image: var(--bg-activities), url(../../images/activity6.webp);
}

.activity-travelling {
  background-image: var(--bg-activities), url(../../images/activity7.webp);
}
/* End Part 3 content */

@media (max-width: 767px) {
  .activities-section {
    margin-top: 0px;
  }

  .content-activities {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-auto-rows: 120px;
    margin-top: 35px;
  }

  .activity-sports {
  background-image: var(--bg-activities), url(../../images/activity1-mobile.webp);
  }

  .activity-wellness {
    background-image: var(--bg-activities), url(../../images/activity2-mobile.webp);
  }

  .activity-extreme {
    background-image: var(--bg-activities), url(../../images/activity3-mobile.webp);
  }

  .activity-games {
    background-image: var(--bg-activities), url(../../images/activity4-mobile.webp);
  }

  .activity-culture {
    background-image: var(--bg-activities), url(../../images/activity5-mobile.webp);
  }

  .activity-enjoyment {
    background-image: var(--bg-activities), url(../../images/activity6-mobile.webp);
  }

  .activity-travelling {
    background-image: var(--bg-activities), url(../../images/activity7-mobile.webp);
  }
}
