/* Start Part 3 content */
.content-container.content-activities {
  display: grid;
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  .activity-title {
    text-align: center;
  }

  &.activity-sports {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity1.jpg);
  }

  &.activity-wellness {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity2.jpg);
  }

  &.activity-extreme {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity3.jpg);
  }

  &.activity-games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity4.jpg);
  }

  &.activity-culture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity5.jpg);
  }

  &.activity-enjoyment {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity6.jpg);
  }

  &.activity-travelling {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../image/activity7.jpg);
  }

  &.primary-activity-size {
    width: 300px;
    height: 310px;
  }

  &.secondary-activity-size {
    grid-column: 2 / span 2;
  }

  &.termary-activity-size {
    grid-column: 1 / span 2;
  }
}
/* End Part 3 content */
