/* BODY-CONTENT START */
/* Start Part 1 content */
.step-card {
  width: 300px;
  height: 400px;
  color: var(--secondary-color);
  cursor: pointer;

  &.first-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../../image/step1.jpg);
  }

  &.second-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../../image/step2.jpg);
  }

  &.third-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../../image/step3.jpg);
  }
}

.step-content {
  padding: 0 25px 25px;
}

.step-sub-title {
  letter-spacing: 2px;
  background-color: var(--primary-color);
  padding: 3.5px 10px;
  border-radius: 40px;
  line-height: var(--secondary-line-height);
  margin-right: 183px;
}

.step-title {
  line-height: 14px;
}
/* End Part 1 content */
