/* BODY-CONTENT START */
/* Start Part 1 content */
@property --bg-step-card {
  syntax: "<image>";
  inherits: false;
  initial-value: linear-gradient(180deg, rgba(0,0,0,0.01), rgba(0,0,0,0.6));
}

.step-card {
  width: 32%;
  max-width: 300px;
  color: var(--secondary-color);

  &.first-step-img {
    background: var(--bg-step-card), url(../../images/step1.webp);
    background-position: center;
    background-repeat: no-repeat;
  }

  &.second-step-img {
    background: var(--bg-step-card), url(../../images/step2.webp);
    background-position: center;
    background-repeat: no-repeat;
  }

  &.third-step-img {
    background: var(--bg-step-card), url(../../images/step3.webp);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.step-content {
  padding: 229px 25px 21px 25px;
}

.step-sub-title {
  letter-spacing: 2px;
  background-color: var(--primary-color);
  padding: 5px 12px;
  border-radius: 40px;
  line-height: var(--xl-line-height);
  display: inline-block
}

.step-title {
  line-height: 14px;
}
/* End Part 1 content */

@media (max-width: 1439px) {
  .step-content {
    padding: 220px 20px 16px;
  }

  .step-card {
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .step-card {
    width: 100%;
    margin-bottom: 0;

    &.first-step-img {
      background: var(--bg-step-card), url(../../images/step1-mobile.webp);
    }

    &.second-step-img {
      background: var(--bg-step-card), url(../../images/step2-mobile.webp);
    }

    &.third-step-img {
      background: var(--bg-step-card), url(../../images/step3-mobile.webp);
    }
  }

  .second-step-img .step-content {
    padding-top: 86px;
  }

  .step-content {
    padding: 72px 30px 16px 20px;
  }
}
