/* FOOTER START */
.footer {
  padding: 38px 0;
}

.footer-content {
  width: 100%;
  max-width: 940px;
  margin: 0 clamp(40px, 5vw, 100px);
}

.footer-column {
  flex: 1;
}

.footer-links {
  line-height: 26px;
}

.footer-links li > a {
  color: var(--termary-text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-text-color);
    font-weight: 550;
  }
}

.footer-title {
  margin-bottom: 11px;
  color: var(--primary-text-color);
}

.footer-designer {
  line-height: var(--secondary-line-height);
  letter-spacing: 1px;
  color: #cccccc;
  padding-right: 8px;
  margin-bottom: 7px;
}
/* FOOTER END */

@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }

  .footer-content {
    margin: 0 calc(0.25rem * 5);
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .footer-title {
    text-align: center;
    margin-bottom: 0;
  }

  .footer-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
  }

  .footer-designer {
    text-align: center;
    padding-right: 0;
  }
}
