/* FOOTER START */
.footer {
  padding: 38px 0;
}

.footer-content {
  width: 100%;
  max-width: 940px;
  margin: 0 clamp(40px, 4px, 100px);
}

.footer-column {
  flex: 1;
}

.footer-links {
  line-height: 26px;
}

.footer-links li > a {
  color: var(--termary-text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-text-color);
    font-weight: 550;
  }
}

.footer-title {
  margin-bottom: 11px;
  color: var(--primary-text-color);
}

.footer-designer {
  line-height: var(--secondary-line-height);
  letter-spacing: 1px;
  color: #cccccc;
  padding-right: 8px;
  margin-bottom: 7px;
}
/* FOOTER END */
