/* HEADER START */
.header {
  background-image: url(../../images/background.jpg);
  color: var(--secondary-color);
  margin: 0 auto 105px;
}

/* Top-bar: Dreamshare; login; signup */
.header-bar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 248px;
}

.header-auth {
  padding-right: 43px;
}

.nav-logo {
  cursor: pointer;
}

.header-content {
  width: 426px;
  margin: 110px auto 0;
  padding-bottom: 231px;
}

.header-title {
  line-height: var(--secondary-line-height);
}

.header-description {
  line-height: var(--primary-line-height);
  letter-spacing: 0.4px;
}
/* HEADER END */

@media (max-width: 1440px) and (min-width: 768px) {
  .header-bar {
    padding: 40px 50px;
  }

  .layout-wrapper {
    min-width: unset;
  }

  .header-auth {
    padding-right: unset;
  }
}
