/* Start Part 2 content */
.partners {
  grid-template-columns: repeat(4, minmax(220px, 0.25fr));
}

.partner-card {
  margin-bottom: 16px;
}

.avatars {
  width: 120px;
  height: 120px;
}

.partner-name {
  margin: 20px 0 25px;
  color: var(--primary-text-color);
}
/* End Part 2 content */

@media (max-width: 1439px) {
  .partners {
    grid-template-columns: repeat(2, minmax(236px, 0.45fr));
  }

  .partner-card:nth-child(1) {
    order: 1;
  }

  .partner-card:nth-child(2) {
    order: 3;
  }

  .partner-card:nth-child(3) {
    order: 2;
  }

  .partner-card:nth-child(4) {
    order: 4;
  }

  .partner-card:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .partners {
    grid-template-columns: repeat(1, minmax(220px, 236px));
    gap: 0px;
  }

  .partners-container {
    padding: 0 10px;
  }

  .partner-card:last-child {
    margin-bottom: 26px;
  }
}
