/* Start Part 2 content */
.button.see-other-btn {
  align-self: center;
}

.content-container.content-partners {
  flex-direction: column;
}

.partners {
  display: flex;
  gap: 20px;
}

.partner-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.partner-image {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  cursor: pointer;
}

.partner-content {
  text-align: center;
}

.partner-name {
  margin: 17px 0;
  color: var(--primary-text-color);
}
/* End Part 2 content */
