* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ff4e50;
  --secondary-color: #FFFFFF;
  --primary-text-color: #444444;
  --secondary-text-color: #666666;
  --termary-text-color: #999999;

  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --termary-font-size: 10px;

  --primary-title-font-size: 22px;
  --secondary-title-font-size: 24px;
  --termary-title-font-size: 52px;

  --primary-font-weight: 400;
  --primary-line-height: 1em;
  --secondary-line-height: 100%;
}

.layout-wrapper {
  min-width: 1440px; /* Set min-width to 1440px */
}

body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: black;
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  overflow-x: auto;
}

/* MAIN content config */
.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
/* MAIN content end config */

/* HEADER START */
.header {
  background-image: url(../image/Background.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--secondary-color);
  margin: 0 auto 105px;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Top-bar: Dreamshare; login; signup */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 248px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 43px;
}

.nav-logo {
  cursor: pointer;
}

.header-content {
  width: 426px;
  margin: 107px auto 0;
  justify-items: center;
}

.header-title {
  text-transform: uppercase;
  font-size: var(--termary-title-font-size);
  font-weight: var(--primary-font-weight);
  text-align: center;
  line-height: 1.19em;
  margin-bottom: 30px;
}

.header-description {
  font-size: var(--secondary-title-font-size);
  line-height: var(--primary-line-height);
  margin-bottom: 33px;
  letter-spacing: 0.6px;
}
/* HEADER END */

/* BODY-CONTENT START */
/* Start Part 1 content */
.step-card {
  width: 300px;
  height: 400px;
  color: var(--secondary-color);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.2);

  &.first-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../image/step1.jpg);
  }

  &.second-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../image/step2.jpg);
  }

  &.third-step-img {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.01%), rgba(0, 0, 0, 60%)),
    url(../image/step3.jpg);
  }
}

.step-content {
  padding: 0 25px 25px;
}

.step-sub-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: var(--termary-font-size);
  background-color: var(--primary-color);
  padding: 3.5px 10px;
  border-radius: 40px;
  line-height: var(--secondary-line-height);
  margin-right: 183px;
}

.step-title {
  font-size: var(--secondary-title-font-size);
  line-height: 14px;
  margin-top: 30px;
}

.step-description {
  margin-top: 30px;
}
/* End Part 1 content */

/* Start Part 2 content */
.button.see-other-btn {
  align-self: center;
}

.content-container.content-partners {
  flex-direction: column;
}

.partners {
  display: flex;
  gap: 20px;
}

.partner-card {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.partner-image {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
}

.partner-content {
  text-align: center;
}

.partner-name {
  margin: 17px 0;
  color: var(--primary-text-color);
}
/* End Part 2 content */

/* Start Part 3 content */
.content-container.content-activities {
  display: grid;
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);

  .activity-title {
    text-align: center;
  }

  &.activity-sports {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity1.jpg);
  }

  &.activity-wellness {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity2.jpg);
  }

  &.activity-extreme {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity3.jpg);
  }

  &.activity-games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity4.jpg);
  }

  &.activity-culture {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity5.jpg);
  }

  &.activity-enjoyment {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity6.jpg);
  }

  &.activity-travelling {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/activity7.jpg);
  }

  &.primary-activity-size {
    width: 300px;
    height: 310px;
  }

  &.secondary-activity-size {
    grid-column: 2 / span 2;
  }

  &.termary-activity-size {
    grid-column: 1 / span 2;
  }
}
/* End Part 3 content */

/* Start Part 4 content */
.interests-holiday {
  flex-direction: column;
}

.create-activity-title {
  font-size: 18px;
  line-height: 14px;
  margin: 8px 0 5px;
  color: var(--secondary-text-color);
  text-align: center;
}

.input-search {
  width: 300px;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 7.33%);
  margin-right: 10px;
  padding: 12px 14px 10px;
  color: var(--termary-text-color);
}
/* End Part 4 content */
/* BODY-CONTENT END */

/* FOOTER START */
.footer {
  display: flex;
  padding: 38px 0;
  justify-content: center;
  border-top: var(--primary-color) 2px solid;
  margin-top: 15px;
}

.footer-content {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 940px;
  margin: 0 220px;
}

.footer-column {
  flex: 1;

  &.footer-designed {
    text-align: right;
  }
}

.footer-links {
  line-height: 26px;
  cursor: pointer;
}

.footer-links li > a {
  color: var(--termary-text-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-text-color);
    font-weight: 550;
  }
}

.footer-logo {
  cursor: pointer;
}

.footer-title {
  margin-bottom: 11px;
  color: var(--primary-text-color);
}

.footer-designer {
  text-transform: uppercase;
  font-size: var(--termary-font-size);
  line-height: var(--secondary-line-height);
  letter-spacing: 1px;
  color: #cccccc;
  padding-right: 8px;
  margin-bottom: 7px;
}
/* FOOTER END */
