* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
}

/* HEADER START */
.header {
    background-image: url(../image/Background.png);
    min-height: 700px;
    min-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    margin: 0 auto;

    /* Top-bar: Dreamshare; login; signup */
    .header-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 248px;
    }
}

/* Dreamshare logo */
.nav-logo {
    font-size: 20px;
    color: white;
    text-decoration: none;

    &:hover {
        color: #ff4e50;
    }
}
.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 43px;

    button {
        height: 36px;
        width: 90px;
    }
}

/* Button-card component define */
.button{
    background: transparent;
    border-radius: 20px;
    color: #FFFFFF;
    border: 2px solid transparent;
    &:hover {
        background: transparent;
        border: 2px solid white;
    }
}
/* End button-card define */

.header-content {
    width: 426px;
    margin: 97.5px auto 0;
    justify-items: center;

    .header-title {
        font-size: 52px;
        font-weight: 400;
        text-align: center;
        line-height: 1.19em;
        margin-bottom: 32.5px;
    }
    
    .header-descript {
        font-size: 24px;
        line-height: 24.5px;
        margin-bottom: 33px;
    }

    button {
        background-color: #ff4e50;
        width: 225px;
        height: 40px;
        font-size: 14px;
        
        &:hover {
            background: transparent;
            border: 2px solid white;
        }
    }
}
/* HEADER END */
