* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.layout-wrapper {
  min-width: 1440px; /* Set min-width to 1440px */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  overflow-x: auto;
}
