* {
  box-sizing: border-box;
  font-family: var(--primary-font);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  color: var(--text-color-default);
  font-weight: var(--primary-font-weight);
  line-height: 1;
  overflow-x: auto;
}
