/* Flexbox */
.d-flex {
  display: flex;
}

.d-flex-column {
  flex-direction: column;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.col-reverse {
  flex-direction: column-reverse;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-items-center {
  justify-items: center;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

/* Grid */
.d-grid {
  display: grid;
}

.grid-col-span-1 {
  grid-column: span 1 / span 1;
}

.grid-col-span-2 {
  grid-column: span 2 / span 2;
}

@media (max-width: 767px) {
  .grid-col-mobile {
    grid-column: span 1 / span 1;
  }
}
