.bg-center {
  background-position: center;
}

.bg-cover {
  background-size: cover;
}

.bg-object {
  object-fit: cover;
  object-position: center;
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-color-gray {
  background-color: rgba(0, 0, 0, 0.2);
}
