.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.text-font-weight-400 {
  font-weight: 400;
}

.text-font-weight-500 {
  font-weight: 500;
}

.text-font-weight-600 {
  font-weight: 600;
}

.text-sm {
  font-size: var(--primary-font-size);
}

.text-md {
  font-size: var(--secondary-font-size);
}

.text-lg {
  font-size: var(--termary-font-size);
}

.text-xl {
  font-size: var(--quaternary-font-size);
}

.title-s {
  font-size: var(--secondary-font-size);
}

.title-sm {
  font-size: var(--primary-title-font-size);
}

.title-md {
  font-size: var(--secondary-title-font-size);
}

.title-lg {
  font-size: var(--termary-title-font-size);
}
