.text-sm {
  font-size: var(--text-font-size-sm);
}

.text-md {
  font-size: var(--text-font-size-md);
}

.text-lg {
  font-size: var(--text-font-size-lg);
}

.text-xl {
  font-size: var(--text-font-size-xl);
}

.title-sm {
  font-size: var(--text-font-size-md);
}

.title-md {
  font-size: var(--title-font-size-sm);
}

.title-lg {
  font-size: var(--title-font-size-md);
}

.title-xl {
  font-size: var(--title-font-size-lg);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.text-font-weight-400 {
  font-weight: 400;
}

.text-font-weight-500 {
  font-weight: 500;
}

.text-font-weight-600 {
  font-weight: 600;
}
