:root {
  --primary-color: #ff4e50;
  --secondary-color: #FFF;
  --primary-text-color: #444;
  --secondary-text-color: #666;
  --termary-text-color: #999;
  --quaternary-text-color: #E3E3E3;

  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 10px;
  --secondary-font-size: 14px;
  --termary-font-size: 16px;

  --primary-title-font-size: 22px;
  --secondary-title-font-size: 24px;
  --termary-title-font-size: 52px;

  --primary-font-weight: 400;
  --primary-line-height: 1em;
  --secondary-line-height: 100%;
}
