:root {
  --primary-color: #FF4E50;
  --secondary-color: #FFF;
  --text-color-default: #444;
  --text-color-description: #666;
  --text-color-link: #999;
  --text-color-description-light: #E3E3E3;
  --text-color-designer: #CCC;
  --second-icon-color: #19D4CA;
  --third-icon-color: #FFA710;
  --fourth-icon-color: #667DF3;

  --primary-font: 'Roboto', sans-serif;
  --text-font-size-sm: 10px;
  --text-font-size-md: 14px;
  --text-font-size-lg: 16px;
  --text-font-size-xl: 18px;

  --title-font-size-sm: 22px;
  --title-font-size-md: 24px;
  --title-font-size-lg: 52px;

  --primary-font-weight: 400;
  --secondary-font-weight: 600;
  --sm-line-height: 1.14;
  --md-line-height: 1.17;
  --lg-line-height: 1.18;
  --xl-line-height: 1.2;
}
