:root {
  --primary-color: #ff4e50;
  --secondary-color: #FFFFFF;
  --primary-text-color: #444444;
  --secondary-text-color: #666666;
  --termary-text-color: #999999;

  --primary-font: 'Roboto', sans-serif;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --termary-font-size: 10px;

  --primary-title-font-size: 22px;
  --secondary-title-font-size: 24px;
  --termary-title-font-size: 52px;

  --primary-font-weight: 400;
  --primary-line-height: 1em;
  --secondary-line-height: 100%;

  --bg-activities: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  --bg-step-card: linear-gradient(180deg, rgba(0,0,0,0.01%), rgba(0,0,0,60%));
}
